include templates/header
body
	.row.mt-50
		.col-4
		.col-4
			div
				h1 Video Uploading App
				div
					a.btn.btn-outline-light.btn-lg.action-link(href="/auth/login") Login
					a.btn.btn-outline-light.btn-lg.action-link(href="/auth/register") Register
				div
