include templates/header
body
  .row
    .col-4
    .col-4
      h1 Register Form
      form(role='form' method='POST' action='register')
        div.form-group
          label(for='name') Name:
          input#username.form-control(type='text', placeholder='Name' name='name' , value = user ? user.name : '' )
        div.form-group
          label(for='email') Email
          input#username.form-control(type='text', placeholder='Email' name='email')
        div.form-group
          label(for='password') Password:
          input#password.form-control(type='password' name='password')
        button.btn.btn-primary(type="submit", name="") Register

        if error
          li.red #{error}
      
