div.navblock
    div.float-start
         span.mr-2 Welcome #{user.name}
         a(href="/video/dashboard") Back to Dashboard
    div.float-end
         a(href="/auth/logout") Logout
    div.clear-fix

         
